
#- name: Install tower dep
#  delegate_to: 127.0.0.1
#  pip:
#      name: ansible-tower-cli

- name: Install jq in AWX
  delegate_to: 127.0.0.1
  yum:
    name: jq
    state: latest

- name: Collect AWX admin token the hard way!
  delegate_to: 127.0.0.1
  shell: |
      curl -sku {{ tower_username }}:{{ tower_password }} -H "Content-Type: application/json" -X POST -d '{"description":"Tower CLI", "application":null, "scope":"write"}' https://{{ tower_host }}/api/v2/users/1/personal_tokens/ | jq '.token' | sed -r 's/\"//g'
  register: tower_token
  no_log: True

- name: Define server_ssh_port if not specified
  set_fact:
    server_ssh_port: 22
  when: server_ssh_port is undefined

- name: Add new host to organisations inventory
  delegate_to: 127.0.0.1
  awx.awx.tower_host:
    name: "matrix.{{ matrix_domain }}"
    description: "{{ matrix_domain }} Matrix Server"
    inventory: "{{ member_id }}"
    state: present
    variables:
      ansible_host: "{{ server_ip_final }}"
    tower_host: "https://{{ tower_host }}"
    tower_oauthtoken: "{{ tower_token.stdout }}"
    validate_certs: yes
  register: fs_host

- name: Create 'matrix_servers' group
  delegate_to: 127.0.0.1
  awx.awx.tower_group:
    name: matrix_servers
    description: "Matrix servers to deploy/configure."
    inventory: "{{ member_id }}"
    state: present
    tower_host: "https://{{ tower_host }}"
    tower_oauthtoken: "{{ tower_token.stdout }}"
    validate_certs: yes
  register: fs_group

- name: Add the host to a Tower Inventory group via API
  uri:
    url: "https://{{ tower_host }}/api/v2/groups/{{ fs_group.id }}/hosts/"
    body:
      name: "matrix.{{ matrix_domain }}"
      inventory: "{{ member_id }}"
    body_format: json
    headers:
      Content-Type: application/json
      Authorization: "Bearer {{ tower_token.stdout }}"
    method: POST
    status_code: 204

#- name: Configure awx-cli 1
#  delegate_to: 127.0.0.1
#  shell: awx-cli config username "{{ tower_username }}"
#  no_log: True

#- name: Configure awx-cli 2
#  delegate_to: 127.0.0.1
#  shell: awx-cli config password "{{ tower_password }}"
#  no_log: True

#- name: Configure awx-cli 3
#  delegate_to: 127.0.0.1
#  shell: awx-cli config host "{{ tower_host }}"
#  no_log: True

#- name: Associate host group
#  delegate_to: 127.0.0.1
#  shell: awx-cli host associate --host "{{ fs_host.id }}" --group "{{ fs_group.id }}"

