
target: localhost

# Configure Website + Access Backup
customise_base_domain_website: false
sftp_password: ""

# Configure Element
matrix_client_element_enabled: true
matrix_client_element_brand: 'Element'
matrix_client_element_default_theme: 'light'
matrix_client_element_branding_welcomeBackgroundUrl: 'https://i.imgur.com/wDTXQtz.jpg'
matrix_client_element_registration_enabled: true
element_subdomain: 'element'

# Configure Jitsi
matrix_jitsi_enabled: true
matrix_jitsi_web_config_defaultLanguage: 'en'

# Configure Ma1sd
matrix_ma1sd_enabled: true

# Configure Synapse
matrix_synapse_enable_registration: false
matrix_synapse_federation_enabled: false
matrix_synapse_allow_public_rooms_over_federation: false
matrix_synapse_enable_group_creation: false
matrix_synapse_presence_enabled: false
matrix_synapse_url_preview_enabled: true
matrix_synapse_allow_guest_access: false
matrix_synapse_max_upload_size_mb: 10
ext_registrations_require_3pid: false
ext_enable_registration_captcha: false
ext_recaptcha_public_key: public-key
ext_recaptcha_private_key: private-key

# Configure Synapse Admin
matrix_synapse_admin_enabled: false

# Configure Matrix Corporal
matrix_corporal_enabled: false
matrix_corporal_policy_provider_mode: 'Simple Static File'
matrix_corporal_simple_static_config: ''
matrix_corporal_pull_mode_uri: 'https://intranet.example.com/matrix/policy'
matrix_corporal_raise_ratelimits: 'Raised'
matrix_corporal_pull_mode_token: ''
matrix_corporal_http_api_auth_token: ''

# Configure Dimension
matrix_dimension_enabled: false
matrix_dimension_access_token: ''

# Custom Variables
matrix_synapse_auto_join_rooms: []
ext_federation_whitelist_raw: []
ext_url_preview_accept_language_default: ["en"]
# https://github.com/ma1uta/ma1sd/blob/master/docs/stores/README.md
ext_matrix_ma1sd_auth_store: 'Synapse Internal'
ext_matrix_ma1sd_configuration_extension_yaml: ["matrix_client_element_configuration_extension_json: |", "  ldap:", "    enabled: true", "    connection:", "      host: ldapHostnameOrIp", "      tls: false", "      port: 389", "      baseDNs: [\'OU=Users,DC=example,DC=org\']", "      bindDn: CN=My ma1sd User,OU=Users,DC=example,DC=org", "      bindPassword: TheUserPassword"]
sftp_auth_method: 'Disabled'
sftp_password: ''
sftp_public_key: ''
ext_dimension_users_raw: []

